@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Staff detalss";
}

<h1>
    @ViewBag.title
</h1>

<h3>
    @{
        var staff = ViewBag.staff as Staff;
    }
    <div>
        <h2>
            Name: @staff.FirstName @staff.LastName
        </h2>
    </div>
    <div>
        Department: @staff.Department
    </div>
</h3>
