@model HomeFullViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Staff detalss";
}
<table>
    <thead class="align-top">
        <tr class="btn">
            <th class="btn-close">ID</th>
            <th>Name</th>
            <th>Departament</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.staffs)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.Department</td>
            </tr>
        }
    </tbody>
</table>