@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Staff detalss";
}
@{
    <h1 class="h-75">Salom mendsdghdaghfuisahdfu8shgfuisdyhf</h1>
}
